<h1 class="mt-4">Administration</h1>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Server Shutdown</h5>
          <p class="card-text text-muted">Stop the main servers process immediately</p>
          <a onclick="$('#infoModal').modal('show')" style="color: white !important" class="btn btn-danger">Shutdown</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create service announcement</h5>
          <p class="card-text text-muted">Create a discord alert containing a custom message</p>
          <a onclick="$('#discordAlert').modal('show')" class="btn btn-warning">Setup alert</a>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0; border: none;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please enter the shutdown key</h5>
            </div>
            <div class="modal-body" style="display: block; text-align: center;">
              <text id="response"></text>
                <div class="form-inline" style="margin: 15px 0px 15px;">
                    <label class="text-muted" for="usr">Shutdown Key:</label>
                    <input type="password" placeholder="Enter Shutdown Key" class="form-control" style="margin: 0px 10px 0px; height: 30px;" id="shutdownKey">
                  </div>
            </div>
            <div class="modal-footer" style="justify-content: center !important;">
                <button onclick="sendShutdown()" class="btn btn-danger" style="color: white !important;">Confirm Shutdown</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="discordAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius: 0; border: none;">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create alert</h5>
          </div>
          <div class="modal-body" style="display: block; text-align: center;">
            <div class="form-group">
              <div>
                <label for="desc" class="text-muted" style="float: left;">Type<span class="badge badge-secondary" style="margin-left: 5px;">Specifies alert formatting</span></label>
              </div>
              <select class="form-control" id="alertType">
                <option>Shutdown Alert</option>
                <option>Update</option>
                <option>General</option>
              </select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="text-muted" style="float: left;">Message</label>
                <textarea id="messageContent" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"></textarea>
            </div>
          </div>
          <div class="modal-footer" style="justify-content: center !important;">
              <button onclick="sendAlert()" class="btn btn-success" style="color: white !important;">Post alert</button>
          </div>
      </div>
  </div>

</div>

<style>
  .card {
    background-color: #191a1c;
  }

  .modal-content {
    background-color: #191a1c;
  }

  .modal-header {
    border: none;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .modal-body {
    border: none
  }

  .modal-footer {
    border: none;
  }

  .form-control {
    background-color: #25262a !important;
    border: none;
  }
</style>

<script>



  function sendShutdown() {
      var key = document.getElementById("shutdownKey").value
      $.ajax({
          type: "POST",
          url: "/sendShutdown",
          data: {
              shutdownKey: key
          }
        }).done(data => {
          var response = document.getElementById("response")
          if (data == "Incorrect Password") {
            $("#response").css("color", "red")
          } else{
            $("#response").css("color", "green")
          }
          response.innerText = data;
        });
  }

  function sendAlert() {
    var type = document.getElementById("alertType").value
    var messageContent = document.getElementById("messageContent").value
    $.ajax({
          type: "POST",
          url: "/sendAlert",
          data: {
              type: type,
              message: messageContent
          }
        }).done(data => {
          console.log(data)
        });
  }

</script>