<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e145c5f059.js" crossorigin="anonymous"></script>
    <title>WorldPlugs Management</title>
</head>

<body style="font-family: 'Raleway', sans-serif">

  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm" style="padding: 0.5rem 1rem; background-color: #212525 !important;">
    <a class="navbar-brand" href="https://admin.worldplugs.net/dashboard">
      <img src="https://cdn.worldplugs.net/wplogo.svg" width="30" height="30" alt="logo">
      <text href="https://admin.worldplugs.net/dashboard" style="padding-left:5px;">WorldPlugs Management</text>
    </a>
    <a id="hamburger" style="z-index: 2000;" data-toggle="modal" data-target="#navbar-side"><span></span></a>



   
  </nav>

  <div class="modal right fade" id="navbar-side" tabindex="-1" role="dialog" aria-labelledby="navbar-side">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalBody">
              <% for (link in dashboardLinks) { %>
                <div>
                  <a href="<%= dashboardLinks[link].URL %>" style="font-size: 1rem; color: rgb(185, 185, 185); "><%= dashboardLinks[link].Title %></a>
                </div>

                <% if (link < dashboardLinks.length - 1) { %>
                  <hr align="left" style="background-color: rgb(26, 26, 26); width: 10%">
                <% } %> 
                
              <% } %>
                
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<img src="https://cdn.worldplugs.net/previous.svg" style="width: 25px; margin: 15px;" onclick="window.history.back();"></img>


    <script src="jscolor.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
        .card{
            margin-bottom: 40px;
        }
    </style>

    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <div class="container" style="font-family: 'Raleway', sans-serif; padding-top: 35px; overflow: hidden;">
        <%- body %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

</body>

</html>




<style>

::-webkit-scrollbar-track
{ 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #666B7A;
}

::-webkit-scrollbar
{
  width: 6px;
 
}
::-webkit-scrollbar-thumb
{
	background-color: #1E2338;
}


@media (max-width: 576px) {
    .wp-navbar-logout-button {
      margin-top: 10px;
  }
}

@media (min-width: 577px) {
    .wp-navbar-logout-button {
      margin-left: 15px;
  }
}

.modal-header {
    background-color: #111313 !important;
    border: none;
    color: white;
    border-radius: 0;
}

.modal-body {
    background-color: #111313 !important;
    color: white
}


.modal-footer {
    background-color: #111313;
    border: none;
    border-radius: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 220px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.dropdown-item:hover {
    background-color: #2f3758;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -220px;
    -webkit-transition: opacity 0.3s linear, right 0.3s cubic-bezier(0.280, 0.840, 0.420, 1);
    -moz-transition: opacity 0.3s linear, right 0.3s cubic-bezier(0.280, 0.840, 0.420, 1);
    -o-transition: opacity 0.3s linear, right 0.3s cubic-bezier(0.280, 0.840, 0.420, 1);
    transition: opacity 0.3s linear, right 0.3s cubic-bezier(0.280, 0.840, 0.420, 1);
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}


#hamburger { position: absolute; right: 5%; }

#hamburger { cursor: pointer; padding: 10px 35px 16px 0px; }
#hamburger span, #hamburger span:before, #hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: inline-block;
  content: '';
}
#hamburger span:before {
  top: -10px; 
}
#hamburger span:after {
  bottom: -10px;
}


 
  
</style>
