<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>WorldPlugs Management</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/colcade@0/colcade.js"></script>
    <script>
        function breadCrumbsDisplay(desktopDisplay, mobileDisplay) {
    $('#wp-breadcrumbs').html("")
    

    if(window.innerWidth > 768) {

      desktopDisplay.forEach(function(listItem) {
        if (listItem.href != "") {
          $('#wp-breadcrumbs').append(`<li class="breadcrumb-item"><a href="${listItem.href}">${listItem.title}</a></li>`)
        } else {
          $('#wp-breadcrumbs').append(`<li class="breadcrumb-item">${listItem.title}</li>`)
        }
      })
        
      
    
    } else { //you got smartph owned nooob!
      $('#wp-breadcrumbs').html(`<li class="breadcrumb-item" aria-current="${mobileDisplay.href}"><a href="/dashboard">${mobileDisplay.title}</a></li>`)
    }
  }
    </script>
</head>

<body class="bg-body-main" style="font-family: 'Raleway', sans-serif; overflow-x:hidden"  onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"> 


  <div class="d-flex">

    <!-- Sidebar -->
    <div class="bg-dark text-light" id="sidebar-wrapper" >
      <div class="sticky-top" id="sidebar-sticky-viewports">
        <div class="sidebar-heading" id="sidebar-sticky-viewports-heading"><img style="width:30px; margin-right: 5px;" src="https://cdn.worldplugs.net/worldplugs-logo-light.svg">WorldPlugs<text style="font-size: 0.45rem; padding: 0.15rem; display: inline-block; height: 50%;">UK</text> <button class="btn navbar-toggler-icon" id="menu-toggle-mobile"></button></div>
        <div class="list-group list-group-flush">
          <a style="margin: 0.85rem 0" href="/dashboard" class="text-white text-white list-group-item list-group-item-action bg-dark text-white list-group-item list-group-item-action bg-dark-action bg-dark"><img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/layers.svg">Dashboard</a>
          <div class="list-group list-group-root well">
  
            <a href="/categories" class="text-white text-white list-group-item list-group-item-action bg-dark text-white list-group-item list-group-item-action bg-dark-action bg-dark">
              <div style="display: flex; align-items: center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/basket3.svg">
                <span>Categories</span>
              </div>
              
            </a>
            
            <a href="/banners" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/card-heading.svg">
                <span>Banners</span>
              </div>
              
            </a>

            <a href="/manage-homepage" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/house.svg">
                <span>Homepage</span>
              </div>
              
            </a>

            <a href="/link-manager" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/link-45deg.svg">
                <span>Links</span>
              </div>
              
            </a>

            <a href="/staff" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/person.svg">
                <span>Staff</span>
              </div>
              
            </a>

            <a href="/logs" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/box-seam.svg">
                <span>Purchase Logs</span>
              </div>
              
            </a>

            <a href="/staff" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/journal-text.svg">
                <span>Support</span>
              </div>
            </a>

            <a href="/staff" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/file-earmark-post.svg">
                <span>Terms and Policies</span>
              </div>
            </a>

            <a href="/upload" class="text-white list-group-item list-group-item-action bg-dark">
              <div style="display: flex; align-items:center">
                <img style="height: 1.15em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/upload-file.svg">
                <span>Upload</span>
              </div>
            </a>
            
            
          </div>
        </div>
      </div>   
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    
    <div id="page-content-wrapper">


      <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <button class="btn navbar-toggler-icon" id="menu-toggle"></button>
          <div style="margin-left: auto; color: white;">
            
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
              <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hi, Admin <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>   
          </ul>
          </div>
  
        </nav>
        <div style="padding: 0.55rem; border-top: 1px solid #0f1017; display: flex;" class="bg-dark text-white">
          <ol id="wp-breadcrumbs" class="breadcrumb">
          </ol>
          <a href="/admin" style="margin-left: auto; margin-right: 10px;">
            <div style=" display: flex; align-items:center; cursor: pointer">
              <img style="height: 1em; margin-right: 5px;" src="https://admin.worldplugs.net/icons/shield-check.svg"><text>Admin Access</text>
            </div>
          </a>
          
        </div>
        <div class="collapse" id="wp-progress-bar" style="height: 0.65em; border-radius: 0">
          <div class="progress" id="wp-progress-bar-time" style="height: 0.65em; border-radius: 0">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="10" aria-valuemax="100" style="width:10%"></div>
          </div>
          <div id="wp-progress-bar-reload" style="position: absolute; right: 0" class="collapse">
            <div class="d-flex justify-content-end">
              <text class="progress-bar-striped progress-bar-animated bg-success text-white" onclick="window.location.reload()" style="text-align: center; border-radius: 0 0 5px 5px; padding: 0.35rem; cursor: pointer">A page reload is requried. Click here</text>
            </div>
          </div>
        </div>
      </div>
      
        <div id="body-container" style="font-family: 'Roboto', sans-serif;">
          <%- body %>
        </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("toggle-siderbar");
    });
    $("#menu-toggle-mobile").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("toggle-siderbar");
    });
    $('body').click(function (e) {
    if ($(e.target).closest("#body-container").length) {
      if ($('#sidebar-wrapper').hasClass('toggle-siderbar') && window.innerWidth < 768 ) {
          $("#sidebar-wrapper").toggleClass("toggle-siderbar");
      }
    } else {
        
    }
})
$(function() {
        
        $('.list-group-item').on('click', function() {
          $('.glyphicon', this)
            .toggleClass('glyphicon-chevron-right')
            .toggleClass('glyphicon-chevron-down');
        });
      
      });


  </script>


    <style>
       @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
        .card{
            margin-bottom: 40px;
        }
    </style>



</body>


</html>



<style>
  body {
      overscroll-behavior-y: none;
  }

  

::-webkit-scrollbar-track
{ 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #666B7A;
}

::-webkit-scrollbar
{
  width: 6px;
 
}
::-webkit-scrollbar-thumb
{
	background-color: #1f2129;
}


.list-group {
  border-radius: 0;
}

.list-group-item {
  border: none;
  transition: 0.3s ease-in-out;
}

.list-group-item:hover {
  background-color: #151515 !important;
}


.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}



/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

</style>

<script>
  var counterBack
  var i;
  function progressBarStart() {
    i = 10
    $('#wp-progress-bar').collapse('show')
      counterBack = setInterval(function(){
        i+= 10;
        if (i < 95 && $('#wp-progress-bar-time > .progress-bar').css('width') != "100%"){
          $('#wp-progress-bar-time > .progress-bar').css('width', i+'%');
        } else {
          clearInterval(counterBack);
        }
        
      }, 300);
  }
  function progressBarComplete(requireReload = false) {
    var progressPromise = new Promise((resolve, reject) => {
    setTimeout(() => {
          clearInterval(counterBack); 
          $('#wp-progress-bar-time > .progress-bar').css('width', 100+'%')
          $('#wp-progress-bar-time > .progress-bar').addClass('bg-success');
          setTimeout(() => {
            if (!requireReload) {
              $('#wp-progress-bar').collapse('hide').on('hidden.bs.collapse', function () { 
              $('#wp-progress-bar-time > .progress-bar').css('width', 0+'%')
              $('#wp-progress-bar-time > .progress-bar').removeClass('bg-success');
              resolve("complete")
          })
            } else {
              $('#wp-progress-bar-reload').collapse('show').on('shown.bs.collapse', function () {
                resolve("complete")
              })
            }
            
          }, 1000);
          
        }, 1500);
  })
  return progressPromise 
  }
  
</script>