<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h4 class="text-center mb-3" style="font-weight: 400 !important;"><%= header %></h4>
        <h7 class="text-center"><%= subheader %></h7>
        <text id="reset-response" style="text-align: center; margin: 10px 0px"></text>
        <form action="/password-update" method="POST" style="">
          <div class="form-group">
            <label for="password">Password</label>
            <input id="aURL" name="aURL" value="<%= aURL %>" hidden></input>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input
              type="password"
              id="confirm_password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
              required
            />
          </div>
          <div style="text-align: center;">
          <div class="g-recaptcha" style="display:inline-block; margin-bottom: 16px;" data-callback="checkComplete" data-sitekey="6LdqTLQZAAAAAMiaotVGuMyPr-FUhKNP6u_ARIr_"></div>
        </div>
          <button type="submit" class="btn btn-primary btn-block"><%= buttonText %></button>
        </form>
      </div>
    </div>
  </div>


  <script>
      var password = document.getElementById("password")
      confirm_password = document.getElementById("confirm_password");

      function validatePassword(){
      if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
      confirm_password.setCustomValidity('');
      }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
  </script>

  <style>
      .form {
          margin: 0 auto;
      }
  </style>