<div class="wp-content-box-span wp-confirmation-box-span">
    <div class="wp-content-box" style="text-align: center;">
        <img class="confirmed-purchase-image" src="https://cdn.worldplugs.net/error.svg" width="20%">
      <p class="wp-confirmed-purchase-header">An error has occured!</p>

    <hr style="background-color: #ffffff5c;">

    <div class="confirmed-purchase-contents">
        <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 5px;" width="100%">

            <p style="color: white; max-width: 350px; margin: 0 auto;" id="errorMsg">
                <%= msg %>
            </p>

        </table>
    
    </div>


    <hr style="background-color: #ffffff5c;">
        <text style="color: white;">
            If this is a mistake please contact us at <%= links["support-email"] %>
        </text>
        <p style="color: white;">
            Or report the error in our #errors channel on <a id="wp-discord" href='<%= links["discord-invite"] %>'>discord</a>.
        </p>
        <a href="/" class="btn wp-button wp-button-gradient wp-button-default-hover">Return to the store</a>

    </div>



</div>

<script>
    if (document.getElementById("errorMsg").innerText.length == 0) {
        window.location.href = "/"
    }
</script>

<style>

@media(min-width:992px) {
    .wp-confirmation-box-span {
        max-width: 30% !important
    }
}

.wp-confirmed-purchase-header {
    color: white !important;
    font-size: 1.5rem;
}

.confirmed-purchase-image {
    margin: 30px 0px 30px;
}

.wp-access-purchase-symbol {
    margin: 0px 5px 20px 5px
}

.wp-access-purchase-text {
    color: white !important;
}

.wp-access-purchase-email {
    font-size: 1rem;
}

.confirmed-purchase-text {
    font-size: 0.85rem;
    color: white;
}

.wp-access-purchase-confirmation {
    font-size: 0.75rem;
}
    
</style>