<div class="wp-content-box-span wp-confirmation-box-span">
    <div class="wp-content-box" style="text-align: center;">
        <img class="wp-error-image" src="https://cdn.worldplugs.net/link.svg" width="20%">
      <p class="wp-error-header" style="font-weight: 600;">404!</p>
    <div class="wp-error-content">
        <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 5px;" width="100%">

            <p style="color: white; max-width: 350px; margin: 0 auto;" id="errorMsg">
                The requested page was not found.
            </p>

        </table>
    
    </div>
    <hr style="background-color: #ffffff5c; width: 50%">
        <text style="color: white;">
            If you believe this to be a mistake please contact us at <%= links["support-email"] %>
        </text>
        <p style="color: white;">
            Or report the error in our #errors channel on <a id="wp-discord" href='<%= links["discord-invite"] %>'>discord</a>.
        </p>
        <a href="/" class="btn wp-button wp-button-gradient wp-button-default-hover">Return to the store</a>

    </div>

</div>


<style>

@media(min-width:992px) {
    .wp-confirmation-box-span {
        max-width: 30% !important
    }
}
.wp-error-header {    
    color: white !important;
    font-size: 1.5rem;
}

.wp-error-image {
    margin: 30px 0px 30px;
}
</style>