
<title>WorldPlugs | All Products</title>

<meta name="description" content="Browse all of our products including Food, Music and Entertainment"/>

<h2 style="margin-top: 30px; color: white; font-weight: 300">All Our Products</h2>

<div class="container">
    <div class="row justify-content-center">
      <% results.forEach(function(result) { %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a style="display: block; text-decoration: none; color: #212529;"
          href="/products/<%= result.CategoryKey %>">
          <div class="itemCard" style="text-align: center;">
            <div class="card-header">
              <h1 style="color: white; font-size: 2em;"><%= result.Title %></h1>
              <img style="width:250px;" class="img-fluid" src="<%= result.Image %>"></img>
            </div>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
  </div>