<div style="text-align: center;">
    <p>
        Really fancy error handling page for worldplugs :)
    </p>
    <h2>
        <%= msg%>
    </h2>
    <button class="btn btn-dark" onclick="window.location.href=`/`">Return to store</button>
</div>