<div class="container">
<div class="wp-guides-parent">
    <h1 class="wp-guides-title">WorldPlugs Support & Guides</h1>
    <div class="row justify-content-center no-gutters" style="margin: 10px; padding-left: 20px; padding-right: 20px;">

        <% results.forEach(function (guide) { %>
            <% if (guide.Pinned == "TRUE") { %>
        <div class="col-sm-12 col-md-6 col-lg-4 wp-guides-card-spacer">
            <div class="card wp-guides-card" style="text-align: center;">
                <a href="https://worldplugs.net/guides/<%= guide.GuideLink %>" style="display: block;  text-decoration: none; color: #0d0c11; min-height: 200px;">
                <div class="card-header">
                    <h1 style="color: white; font-size: 1em;"><%= guide.Title %></h1>
                    <p class="wp-guides-card-desc"><%= guide.Description %></p>
                </div>
                </a>
            </div>
        </div>
    <% }%>
    <% }) %>


    </div>

    <div class="container wp-guides-small-parent">
        <div class="row">
            <div class="col-sm wp-guides-small" onclick="window.location.href='/guides/linktoguides'">
            <img src="https://cdn.worldplugs.net/guide-book.svg" class="wp-guides-small-book" style="width: 30px;"></img>Guide 1
            </div>
            <div class="col-sm wp-guides-small">
                <img src="https://cdn.worldplugs.net/guide-book.svg" class="wp-guides-small-book" style="width: 30px;"></img>Guide 2
            </div>
        </div>
    </div>
</div>

</div>

<style>

    @media (max-width: 570px) {
        .wp-guides-parent {
            margin: 10px !important;
        }
    }

    .wp-guides-parent {
        margin: 30px;
        background-color: #1e1c29;
        max-width: 1200px;
    }
    .wp-guides-title {
        padding-top: 20px;
        color: white;
        font-size: 2rem;
        font-weight: 400;
    }
    .wp-guides-card {
        background-color: #0d0c11 !important;
        margin: 20px;
        background-color: #1e1c29;
        border-radius: 0;
    }

    .wp-guides-card-spacer {
        padding: 0 5px 0 5px;
    }

    .wp-guides-small {
        background-color:#0d0c11 !important; 
        margin: 15 10 0 15;
        text-align: left;
        color: white;
    }

    .wp-guides-small-parent {
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .wp-guides-small-book {
        width: 30px;
        margin: 5px;
    }

    .wp-guides-card-desc {
        text-align: left; 
        color: white;
        font-weight: 200;
    }
</style>