<%- include('banner.ejs', {banner: banner}) %>

<title>WorldPlugs</title>

<meta name="description" content="Welcome to WorldPlugs! The site to buy food, entertainment, music and much more at an unmatchable price."/>


<h1 class="titleText" style="padding: 30px; font-weight: 200;">
  Welcome to <text style="
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,193,230,1) 0%, rgba(194,117,233,1) 50%, rgba(242,81,93,1) 100%);   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; font-weight: 400;">WorldPlugs</text>
</h1>



<section class="wp-homepage-hero" style="margin-bottom: 30px;">

  <img src="https://cdn.worldplugs.net/hero/launch-sale-text.svg" class="img-fluid" style="max-width: 450px"></img>



</section>




<h3 style="color: white; font-weight: 300">Our Popular Products</h3>
<div class="container">
  <div class="row justify-content-center">
    <% results.forEach(function(result) { %>
    <% if (result.DisplayPopular == "true") { %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="itemCard" style="text-align: center; border-radius: 5px;">
        <a style="display: block;  text-decoration: none; color: #212529;"
          href="/products/<%= result.CategoryKey %>">
          <div class="card-header">
            <h1 style="color: white; font-size: 2em;"><%= result.Title %></h1>
            <img style="width:250px;" class="img-fluid" src="<%= result.Image %>"></img>
          </div>
        </a>
      </div>
    </div>
    <% } %>
    <% }) %>
  </div>
</div>

<div style="margin: 30px;">
  <a href="/products" class="btn wp-button wp-button-gradient wp-button-default-hover" style="cursor: pointer;">View All
    Products</a>
</div>



<style>
  .wp-homepage-hero {
    background-image: url("https://cdn.worldplugs.net/hero-element.svg");
    background-color: #1d1b28;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  @media (max-width: 700px) {
    .wp-homepage-hero {
      background-image: none;
    }
  }
</style>