<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.worldplugs.net/bootstrap.min.css">
    
    <script src="https://kit.fontawesome.com/e145c5f059.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<meta name="theme-color" content="#ffffff">
    <title>WorldPlugs</title>
</head>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<body style="background: #020024;
background: linear-gradient(90deg, #020024 0%, #1d2237 0%, #3c346b); font-family: 'Raleway', sans-serif; padding-top: 70px;">


    <%- include('navbar.ejs') %>       
    <div></div>
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src ="/client.js"></script>

    <div style="
    text-align:center;
    margin: auto;">
        <%- body %>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

<style>
    .iconSize {
        width: 23px;
    }

    .titleText {
        margin: auto;
        color: white;
    }


    .itemCard {
        margin: 20px;
        background-color: #1e1c29;
        border-radius: 0;
        box-shadow: 4px 4px 17px -5px rgba(0, 0, 0, 0.75);
    }




    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .itemQuantity {
        color: white;
        width: 45px;
        padding: auto;
        -webkit-appearance: none;
        border-style: none;
        background-color: transparent;
        outline: none;
        border-bottom: 1px solid grey;
        border-radius: 1px;
        transition: all 0.3s;
    }

    .itemQuantity:focus, .itemQuantity:hover {
        border-bottom: 1px solid white;

    }

    /*Right*/

    .content-box-span {
        height: auto;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 10px;
        background-color: #1e1c29;
        box-shadow: 4px 4px 17px -5px rgba(0, 0, 0, 0.75);
    }

.paymentSec {
  margin: auto; 
  width: 50%;
}

.inlineInp {
    float: left;
    display: inline;
}

.resultDivider {
    max-width: 50%;
}

@media(min-width:1200px) {
  .product-content-image {
    float: left;
  }

  .cardText {
    text-align: left
  }

  .itemQuantity {
    float: left;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .cardText {
    text-align: center
  }
  .inlineInp {
    float: unset;
  }

  .content-box-span {
    width: 80%;
  }
  .paymentSec {
    width: 80%;
  }
  .resultDivider {
    max-width: 80%;
  }
  .accountText{
    text-align: center;
}
}

@media(max-width:992px) {
  .content-box-span {
    width: 90%;
  }
  .paymentSec {
    width: 90%;
  }
  .inlineInp {
    float: unset;
  }
  .resultDivider {
    max-width: 90%;
  }
  .accountText{
    text-align: center;
}
}

@media(max-width: 320px) {
    .mobile-content-margin {
        margin-left: 0 !important;
    }
}

#itemHeader {
  color: white;
  text-transform: capitalize;
}

.homeCard {
    background-color: #1e1c29 !important;
}

.checkout-basket:hover {
    background-color: #03fc8c !important
}


.horizontalSep{
    width: 100%; 
    height: 1px; 
    background-color:#ffffff17; 
    border: 1px;
}

.wp-button-gradient {
    border-color: white;
    border-image: linear-gradient(to left, #743ad5, #d53a9d);
    -webkit-border-image: -webkit-linear-gradient(to left, #743ad5, #d53a9d);
    border-image-slice: 1;
    -webkit-border-image-slice: 2;
    border-width: 1px;
}

.wp-button {
  color: white;
  background: transparent;
  max-width: 100%;
  border-radius: 0px;
}

.wp-button-view-product {
  position: relative;
  line-height: 50px;
  width: 200px;
}

.wp-button-checkout:hover {
  border-color: #4BB543;
  background-color: #4BB543;
  border-image-slice: 0;
  color: white;
}

.wp-button-default-hover:hover {
  border-image: none;
  background-color: white;
  color: black;
}

.wp-button-remove-hover:hover {
  background-color: #ea6464;
  color: white;
}

.wp-button-no-stock {
  border-image: none;
  background-color: #ea6464;
  color: white;
}

.wp-search {
  width: 100%;
  background-color: #1e2338;
  color: white;
  border: none;
  border-radius: none;
  display: inline-block;
  border-bottom: 1px solid #ffffff52;
  transition: border-bottom 0.5s;
}

.wp-search:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.wp-captcha-button {
  float: right;
  margin-right: 15px;
}

.g-recaptcha > div {
  margin: 0 auto;
}

.wp-tos {
  background: #1e1c29;
  box-shadow: 4px 4px 17px -5px rgba(0, 0, 0, 0.75);
  margin: 20px;
  text-align: left;
  font-size: 1rem;
  overflow-wrap: break-word;
  color: white;
}

.wp-payment-policy-list {
  margin-top: 10px;
  list-style-type: none;
}
.wp-payment-policy-list li {
  padding-bottom: 20px;
}

</style>






</body>
<!--You do realise-->
<!--Styling acomplished by GloriaStyleSheets (.gss)-->
</html>