<!-- COLLAPSE TOP NAVBAR -->
<link rel="stylesheet" href="/navbar.css">
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="navbar" style="background-color: #2f3758;">
    <span class="navbar-text">&nbsp;</span>
    <ul class="navbar-nav center-navbar-items">
        <li class="nav-item">
            <div class="collapse-navbar-items">
                <a href="/"> <img src="https://worldplugs.net/images/wplogo.svg" style="width:80px;" alt="logo"></a>
                <text class="title" style="font-weight: 500;">WorldPlugs</text>
            </div>
        </li>
    </ul>
    <div class="collapse-navbar-icons" id="navbar8">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-toggle="modal" data-target="#search-toggle">
                <img class="wp-nav-button" src="https://worldplugs.net/images/searchbar.svg" style="width: 23px; margin-top: 2px"alt="Search">
            </li>
            <li class="nav-item" data-toggle="modal" data-target="#shopping-basket-toggle">
                <div class="collapse-shopping-basket-container">
                    <img class="wp-nav-button mobile-content-margin" src="https://worldplugs.net/images/basket.svg" style="margin-left: 15px; width: 25px;" alt="Basket">
                    <span class="wp-nav-button basket-items-quantity"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!-- FIXED NAVBAR -->
<div class="fixed-navbar" id="fixed-navbar-row">
    <div class="fixed-navbar-content">
        <ul class="center-navbar-items" style="white-space: nowrap; padding: 0;">
            <a href="/">
                <li class="fixed-navbar-content-items" id="fixed-navbar-content-items-toggle" style="display: inline; line-height: 30px;">Home</li>
            </a>
            <a href="/">
                <li class="fixed-navbar-content-items" style="display: inline;" href="/">Store</li>
            </a>
            <a href="/cart">
                <li class="fixed-navbar-content-items" style="display: inline;" href="#home">Basket</li>
            </a>
        </ul>
        <div class="fixed-navbar-content-right" style="margin: 15px;">
            <div class="fixed-navbar-content-icons-container">
                <a data-target="#search-toggle" data-toggle="modal"><img class="wp-nav-button fixed-navbar-content-icons-search" id="fixed-navbar-content-icons-search-toggle" src="https://worldplugs.net/images/searchbar.svg" style="width:23px; display: none; " alt="Search"></a>
                <a data-toggle="modal" data-target="#shopping-basket-toggle">
                    <img class="wp-nav-button fixed-navbar-content-icons-basket mobile-content-margin" id="fixed-navbar-content-icons-basket-toggle" src="https://worldplugs.net/images/basket.svg" alt="Basket">
                    <span id="fixed-navbar-content-icons-quantity-toggle" style="display: none;" class="wp-nav-button basket-items-quantity"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<!-- RIGHT SIDE SHOPPING BASKET -->
<div class="modal right fade" id="shopping-basket-toggle" tabindex="-1" role="dialog" aria-labelledby="shopping-basket-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="shopping-basket-label">Your Basket</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- BASKET ITEMS -->
            </div>
            <div class="modal-footer" style="padding: 0; overflow: hidden;">

                <form action="/executePayment" method="POST" style="padding: 6.5px;">
                    <div class="g-recaptcha" data-callback="checkComplete" data-sitekey="6LdqTLQZAAAAAMiaotVGuMyPr-FUhKNP6u_ARIr_"></div>
                    <br/>
                    <button class="btn wp-button wp-button-default-hover">View Basket</button>
                    <input id="captchaSubmission" class="btn wp-button wp-button-gradient wp-button-checkout wp-captcha-button" type="submit" value="Express Checkout" disabled>
                    <!--<button class="btn wp-button wp-button-gradient wp-button-checkout">Express Checkout</button>-->
                </form>
            </div>
        </div>
    </div>
</div>


<!-- RIGHT SIDE SEARCH -->
<div class="modal right fade" id="search-toggle" tabindex="-1" role="dialog" aria-labelledby="search-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="search-label">Search</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalBody">
                <div id="searchbar" style="margin-bottom: 10px;">
                    <input id="searched" class="wp-search" placeholder="Search for a product here">
                </div>
                <div id="search-results">

                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;" id="alertMsg">
        Item is already in your basket.
        <button type="button" class="close" onclick="document.getElementById('alertMsg').style.display = 'none'">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script>
    function checkComplete() {
        document.getElementById("captchaSubmission").disabled = false
    }

</script>

