<!-- COLLAPSE TOP NAVBAR -->
<link rel="stylesheet" href="/navbar.css">
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="navbar" style="background-color: #2f3758; position: relative;">
    <span class="navbar-text">&nbsp;</span>
    <ul class="navbar-nav center-navbar-items">
        <li class="nav-item">
            <div class="collapse-navbar-items">
                <a href="/"> <img src="https://cdn.worldplugs.net/worldplugs-logo-light.svg" style="width:50px;" alt="logo"></a>
                <a style="text-decoration: none" href="/"><text class="title" style="font-weight: 400;">WorldPlugs</text></a>
            </div>
        </li>
    </ul>
    <div class="collapse-navbar-icons" id="navbar8">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-toggle="modal" data-target="#search-toggle">
                <img class="wp-nav-button" src="https://cdn.worldplugs.net/searchbar.svg"
                    style="width: 23px; margin-top: 2px" alt="Search">
            </li>
            <li class="nav-item" data-toggle="modal" data-target="#shopping-basket-toggle">
                <div class="collapse-shopping-basket-container" style="max-width: 40px;">

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 15 15" style="margin-left: 15px; width: 25px; cursor: pointer;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#F2F2F2;}
                        .st1{fill:none;}
                        .st3{font-size:8px;}
                    </style>
                    <path class="st0" d="M12.6,3.4c0-0.2-0.2-0.4-0.4-0.4h-1.7c0-1.6-1.3-2.9-2.9-2.9S4.6,1.4,4.6,3H2.8C2.6,3,2.4,3.1,2.4,3.3l-0.9,9.5
                        c0,0,0,0,0,0c0,1.1,1,2,2.2,2h7.4c1.2,0,2.2-0.9,2.2-2c0,0,0,0,0,0L12.6,3.4z M7.5,0.9c1.1,0,2.1,0.9,2.1,2.1H5.4
                        C5.4,1.9,6.3,0.9,7.5,0.9z M11.2,14.1H3.8c-0.8,0-1.4-0.5-1.4-1.1l0.8-9.1h1.4V5c0,0.2,0.2,0.4,0.4,0.4S5.4,5.3,5.4,5V3.8h4.2V5
                        c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4V3.8h1.4l0.8,9.1C12.6,13.6,12,14.1,11.2,14.1z"/>
                    <rect y="5" class="st1" width="15" height="6.7"/>
                    <text y="75%" x="50%" style="text-anchor: middle; cursor: pointer;" class="st0 st2 st3 basket-items-quantity"></text>
                    </svg>



                </div>
            </li>
        </ul>
    </div>
</nav>


<!-- FIXED NAVBAR -->
<div class="fixed-navbar" id="fixed-navbar-row">
    <div class="fixed-navbar-content">
        <ul class="center-navbar-items" style="white-space: nowrap; padding: 0;">
            
                <li class="fixed-navbar-content-items wp-navbar-items"  style="display: inline; line-height: 30px;" id="fixed-navbar-content-items-toggle">
                    <a href="/">Home</a>
                </li>

                <li class="fixed-navbar-content-items dropdown show" style="display: inline; line-height: 30px;">
                    <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="wp-navbar-dropdown-primary">Shop</span>
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/products/food">Food</a>
                      <a class="dropdown-item" href="/products/entertainment">Cinema</a>
                      <a class="dropdown-item" href="/products/music">Music</a>
                      <a class="dropdown-item" href="/products/vpns">VPNs</a>
                    </div>
                </li>

                <li class="fixed-navbar-content-items wp-navbar-items"  style="display: inline; line-height: 30px;">
                    <a href="/cart">Cart</a>
                </li>
                   
                    
            
        </ul>
        <div class="fixed-navbar-content-right" style="margin: 15px;">
            <div class="fixed-navbar-content-icons-container">
                <a data-target="#search-toggle" data-toggle="modal"><img
                        class="wp-nav-button fixed-navbar-content-icons-search"
                        id="fixed-navbar-content-icons-search-toggle" src="https://cdn.worldplugs.net/searchbar.svg"
                        style="width:23px; display: none; " alt="Search"></a>
                <a data-toggle="modal" data-target="#shopping-basket-toggle" style="max-width: 40px;">
                    
                    <svg version="1.1" id="fixed-navbar-content-icons-basket-toggle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 15 15" style="margin-left: 15px; width: 25px; cursor: pointer; display: none;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#F2F2F2;}
                        .st1{fill:none;}
                        .st3{font-size:8px;}
                    </style>
                    <path class="st0" d="M12.6,3.4c0-0.2-0.2-0.4-0.4-0.4h-1.7c0-1.6-1.3-2.9-2.9-2.9S4.6,1.4,4.6,3H2.8C2.6,3,2.4,3.1,2.4,3.3l-0.9,9.5
                        c0,0,0,0,0,0c0,1.1,1,2,2.2,2h7.4c1.2,0,2.2-0.9,2.2-2c0,0,0,0,0,0L12.6,3.4z M7.5,0.9c1.1,0,2.1,0.9,2.1,2.1H5.4
                        C5.4,1.9,6.3,0.9,7.5,0.9z M11.2,14.1H3.8c-0.8,0-1.4-0.5-1.4-1.1l0.8-9.1h1.4V5c0,0.2,0.2,0.4,0.4,0.4S5.4,5.3,5.4,5V3.8h4.2V5
                        c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4V3.8h1.4l0.8,9.1C12.6,13.6,12,14.1,11.2,14.1z"/>
                    <rect y="5" class="st1" width="15" height="6.7"/>
                    <text y="75%" x="50%" style="text-anchor: middle; cursor: pointer;" class="st0 st2 st3 basket-items-quantity"></text>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- RIGHT SIDE BASKET -->
<div class="modal right fade" id="shopping-basket-toggle" tabindex="-1" role="dialog"
    aria-labelledby="shopping-basket-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="shopping-basket-label">Your Basket</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="modalBody">
                    
                </div>
                <div id="modalBodyPrice">
                    <text id="subtotal" style="font-size: 0.75rem"></text>
                    <div>
                    <text id="fee" style="font-size: 0.75rem"></text> <a href="/payment-policy" data-placement="right" data-toggle="tooltip" title="We add a small fee to cover paypal charges."><svg id="fee-tooltip" width="0.75rem" height="0.75rem" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="#C8C8C8" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
                      </svg></a>
                      <hr align="left" style="background-color: white; width: 10%; margin-top: 0.5rem; margin-bottom: 0.5rem">
                    </div>
                    <text id="total"></text>
                </div>
            </div>
            <div class="modal-footer" style="padding: 0; overflow: hidden;">

                <form action="/executePayment" method="POST" style="padding: 6.5px;">
                    <div class="g-recaptcha" data-callback="checkComplete"
                        data-sitekey="6LdqTLQZAAAAAMiaotVGuMyPr-FUhKNP6u_ARIr_"></div>
                    <br />
                    <a class="btn wp-button wp-button-default-hover" href="/cart">View Basket</a>
                    <input id="captchaSubmission"
                        class="btn wp-button wp-button-gradient wp-button-checkout wp-captcha-button" type="submit"
                        value="Express Checkout">
                    <!--<button class="btn wp-button wp-button-gradient wp-button-checkout">Express Checkout</button>-->
                </form>
            </div>
        </div>
    </div>
</div>


<!-- RIGHT SIDE SEARCH -->
<div class="modal right fade" id="search-toggle" tabindex="-1" role="dialog" aria-labelledby="search-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="search-label">Search</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalBody">
                <div id="searchbar" style="margin-bottom: 10px;">
                    <input id="searched" class="wp-search" placeholder="Search for a product here">
                </div>
                <div id="search-results">
                    
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>





<script>
    function checkComplete() {
        document.getElementById("captchaSubmission").disabled = false
    }
    window.addEventListener("load", function () {
      // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });
})


</script>

<style>

.dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}
</style>