<div class="wp-tos">
    <div style="margin: 20px; padding-top: 20px; padding-bottom: 20px;">
    <p>Payment policy</p>

    <p> Last updated July 29, 2020</p>
    
    <h5>Upon confirmation of your purchase, you agree and accept the following terms:</h5>
    <ul class="wp-payment-policy-list">
        <li>
            The items you have ordered will only be covered for <b>12 hours</b> from the time of purchasing. You also agree to cover an additional 2.9% fee for the purchase of your items.
        </li>
        <li>
            Ordering with the intention of using products in advance is not supported. Eg: Buying an account 5 days before the intended use date.
        </li>
        <li>
            If there is an issue with your order, please contact us at: <p><%= links["support-email"] %></p> or create a support ticket on our discord server: <a href="<%= links["discord-invite"] %>"><%= links["discord-invite"] %></a>
        </li>
    </ul>
            
</div>
</div>