

<div class="content-box-span confirmation-box-span">
    <div class="content-box confirmation-box" style="text-align: center;">
        <img class="confirmed-purchase-image" src="success.svg" width="20%">
      <p class="confirmed-purchase-header">Thank You For Your Order!</p>

    <hr style="background-color: #ffffff5c;">

    <div class="confirmed-purchase-contents">
        <p class="confirmed-purchase-text confirmed-purchase-contents-header" style="text-align: left;">What you've purchased:</p>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">

            <!-- ITEM -->
            <tr>
                <td width="75%" align="left" style="font-family: 'Raleway', sans-serif;" class="confirmed-purchase-text">Nandos Red x3</td> 
                <td width="25%" align="left" style="font-family: 'Raleway', sans-serif; text-align: right;" class="confirmed-purchase-text"> £14 </td>
            </tr>

        </table>
    
    </div>

    


    <hr style="background-color: #ffffff5c;">
    

      <div class="access-purchase">
        <p class="access-purchase-text access-purchase-info">To access the accounts please head over to your email client associated with:</p>
        <p class="access-purchase-text access-purchase-email"> worldplugsA414@gmail.com </p>
          <img class="access-purchase-symbol" src="mail.svg" width="10%">
          <img class="access-purchase-symbol" src="next.svg" width="10%">
          <img class="access-purchase-symbol" src="card.svg" width="10%">
      </div>
  
    </div>


    <div class="circle-loader">
      <div class="checkmark draw"></div>
    </div>


</div>


<style>

@media(min-width:992px) {
    .confirmation-box-span {
        max-width: 30% !important
    }
}

.confirmed-purchase-header {
    color: white !important;
    font-size: 1.5rem;
}

.confirmed-purchase-image {
    margin: 30px 0px 30px;
}

.access-purchase-symbol {
    margin: 0px 5px 20px 5px
}

.access-purchase-text {
    color: white !important;
}

.access-purchase-email {
    font-size: 1rem;
}

.confirmed-purchase-text {
    font-size: 0.85rem;
    color: white;
}
    
</style>
