.fixed-navbar-content-icons-basket {
    width:25px;
    margin-left: 15px;
    display: none;
}

.modal-footer {
    justify-content: space-between; 
}


.view-basket {
    border: none;
}

#navbar {
    transition: top 0.2s;
}

#fixed-navbar-row {
    transition: top 0.2s;
}

.view-basket {
    background-color: white;
    color: black;
    border: none;
}

.center-navbar-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.navbar-nav {
    flex-direction: row;
}

.title {
    color: white;
}

.collapse-navbar-items {
    white-space: nowrap;
    display: inline-block;
}

.fixed-navbar {
    text-align: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    transition: top 0.3s;
    background-color: #262c47;
    z-index: 1;
}

.collapse-navbar-icons {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
}

.fixed-navbar-content {
    z-index: 1;
    text-align: center;
    background-color: #1e2338;
    overflow: hidden;
}

.fixed-navbar-content-right {
    float: right;
}

.fixed-navbar-content-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collapse-shopping-basket-container {
    position: relative;
    text-align: center;
    color: white;
}

.basket-items-quantity {
    color: white;
    position: relative;
    top: 2px;
    right: 19.5px;
    cursor: default;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wp-item-quantity {
    color: white;
    width: 45px;
    padding: auto;
    -webkit-appearance: none;
    border-style: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid grey;
    border-radius: 1px;
    transition: all 0.3s;
}

.wp-item-quantity:focus, .wp-item-quantity:hover {
    border-bottom: 1px solid white;

}


#sublist {
    position: absolute;
    display: inline-block;
}

.wp-navbar-dropdown-primary {
    text-decoration: none;
    border-bottom: 1px solid rgba(26, 255, 255, 0);
    transition: border-bottom 300ms;
    -webkit-transform: border-bottom 300ms;
}

.wp-navbar-dropdown-primary:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.wp-navbar-items a {
    text-decoration: none;
    border-bottom: 1px solid rgba(26, 255, 255, 0);
    transition: border-bottom 300ms;
}
.wp-navbar-items a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.fixed-navbar-content-items {
    padding-right: 10px;
    text-decoration: none;
}

.fixed-navbar-content-items a {
    transition: 0.5s ease;
    color: white !important;
}
.fixed-navbar-content-items a:hover {
    text-decoration: none;
}

.dropdown-menu {
    left: auto !important;
    background-color: #1e2338 !important;
    border:none !important; 
    border-radius: none !important;
}



.modal-header {
    background-color: #1e2338 !important;
    border: none;
    color: white;
    border-radius: 0;
}

.modal-body {
    background-color: #1e1c29 !important;
    color: white
}


.modal-footer {
    background-color: #1e1c29;
    border: none;
    border-radius: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.dropdown-item:hover {
    background-color: #2f3758;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.remove-small-cart-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: #ea6464;
    font-family: arial;
    font-size: 23px;
    font-weight: 200;
    vertical-align: middle;
}

.wp-content-box-span {
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 10px;
    background-color: #1e1c29;
    box-shadow: 4px 4px 17px -5px rgba(0, 0, 0, 0.75);
}

.card {
    background: none;
    border: none;
}


#itemHeader {
    color: white;
    text-transform: capitalize;
}

.wp-nav-button {
    cursor: pointer
}

